<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">
    <title>Busqueda...</title>
</head>
<body>
    <h1>Resultado De La Busqueda "{{ Busqueda }}"</h1>
    <div class="row">
        {% for tarea in tareas %}

            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">Código de Tarea: {{ tarea['id_Tareas'] }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Nombre Tarea: </strong>{{ tarea['Nombre'] }}</p>
                        <p class="card-text"><strong>Fecha de Inicio: </strong>{{ tarea['Fecha_Inicio'] }}</p>
                        <p class="card-text"><strong>Fecha Final: </strong>{{ tarea['Fecha_final'] }}</p>
                        <p class="card-text"><strong>Estado: </strong>{{ tarea['Estado'] }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('editar_tarea', id=tarea['id_Tareas'] )}}" class="btn btn-primary">Actualizar</a>
                        <a href="{{ url_for('eliminar_tarea', id = tarea['id_Tareas'] )}}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>