<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Actualizar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">



</head>
<body>

   <!--   Contenido Modal 
    <div class="modal" id="Mtareas">
        <div class="modal-dialog">
            <div class="modal-content">
                
                 Header del Modal
                <div class="modal-header">
                    <h4 class="modal-title">ACTUALIZAR DATOS TAREAS</h4>
                </div>

                 Body 
                <div class="modal-body">

                </div>

                Footer
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit" data-dismiss="modal">Registrar</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <form method="POST" action="">
            <div class="form-group">
                <label>Codigo de la Tarea</label>
                <input type="number" class="form-control" id="codigo" name="codigo" value="{{ tareas[0] }}" disabled>
            </div>
            <div class="form-group">
                <label>Nombre de la Tarea</label>
                <input type="text" class="form-control" id="nombreTar" name="nombreTar" value="{{ tareas[1] }}">
            </div>
            <div class="form-group">
                <label>Fecha de Inicio</label>
                <input type="text" class="form-control" id="finicio" name="finicio" value="{{ tareas[2] }}">
            </div>
            <div class="form-group">
                <label>Fecha de Finalizacion</label>
                <input type="text" class="form-control" id="ffinal" name="ffinal" value="{{ tareas[3] }}">
            </div>
            <div class="form-group">
                <label>Estado de Tarea</label>
                <input type="text" class="form-control" id="estadotar" name="estadotar" value="{{ tareas[4] }}">
            </div><br>
            <button type="submit" class="btn btn-danger">Actualizar</button>
            <a href="/tareas"><button class="btn btn-info">Regresar</button></a>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
