<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Actualizar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">



</head>
<body>
    <div class="container">
        <form method="POST" action="">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" value="{{ usuario[1] }}">
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" id="ApellidoUsuario" name="ApellidoUsuario" value="{{ usuario[2] }}">
            </div>
            <div class="form-group">
                <label>Nombre de Usuario</label>
                <input type="text" class="form-control" id="Nickname" name="Nickname" value="{{ usuario[3] }}">
            </div>
            <div class="form-group">
                <label>Correo Electronico</label>
                <input type="text" class="form-control" id="email" name="email" value="{{ usuario[4] }}">
            </div><br>
            <button type="submit" class="btn btn-danger">Actualizar</button>
            <a href="/lista"><button class="btn btn-info">Regresar</button></a>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>