<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">
</head>
<body>
    <h2>RESTABLECER CONTRASEÑA</h2>
  
    <form action="" method="post" class="was-validated">
        <div class="mb-3 mt-3">
            <label for="uname" class="form-label">Contraseña Nueva:</label>
            <input type="text" class="form-control" id="uname" placeholder="Ingresa La Nueva Contraseña" name="Nueva_Contraseña" required>
            <div class="valid-feedback">Segura!</div>
            <div class="invalid-feedback">Ingresa Una Contrasañe Segura (Ej: hola123)</div>
          </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Confirmar Contraseña:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Confirma La Contraseña" name="Confirmar_Contraseñ" required>
          <div class="valid-feedback">Valido.</div>
          <div class="invalid-feedback">Confirmar Contraseña Por favor.</div>
        </div>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
      </form>
</body>
</html>